<!doctype html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/hilite.css') }}" />

    <!-- Custom styles for this template -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/blog.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap_blog.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}" />

    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:700|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->

    <!-- for highlight.js code syntax highlighting -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/solarized-dark.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% block extra_head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_scripts %}{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">my code wiki</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if session.logged_in %}
              <li><a href="{{ url_for('drafts') }}">Drafts</a></li>
              <li><a href="{{ url_for('create') }}">Create Entry</a></li>
              <li><a href="{{ url_for('logout') }}">Log out</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Log in</a></li>
            {% endif %}
            {% block extra_header %}{% endblock %}
          </ul>
          {% block search_bar %}
            <form action="{{ url_for('index') }}" class="navbar-form navbar-right" id="search-form" method="get" role="search">
              <div class="form-group">
                <input class="form-control" name="q" placeholder="Search" type="text" value="{% if search %}{{ search }}{% endif %}">
              </div>
            </form>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
      {% block page_header %}
            <h1 class="blog-title">
              {% block content_title %}{% endblock %}
            </h1>
      {% endblock %}

      </div>


      <div class="row">
        <div class="col-sm-8 blog-main">
          {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <p>{{ message }}</p>
            </div>
          {% endfor %}



          {% block content %}{% endblock %}
        </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module">

            {% block side_module %}
            <h4>Tags</h4>
              {% if tags %}
              <ol class="list-unstyled">
                {% for tag in tags %}
                <li><a href="{{ url_for('tag', label=tag.label) }}">{{ tag.label }}</a></li>
                {% endfor %}
              </ol>
              {% else %}
              <p>No tags found.</p>
              {% endif %}

             {% endblock %}
        </div>
      </div>


      </div>



      <footer class="blog-footer">
        <p>Made with <a href="http://flask.pocoo.org/">flask</a>, <a href="http://docs.peewee-orm.com/en/latest/">peewee</a>, and <a href="http://getbootstrap.com/">bootstrap</a><br/>
        <img class="icon" src="{{ url_for('static', filename='images/github-icon.png') }}"/> <a href="https://github.com/ashoofly/flask-blog">See source on github</a>
        </p>

      </footer>

    </div>

  </body>
</html>
