{% extends "base.html" %}

{% block title %}Blog entries{% endblock %}

{% block content_title %}{% if search %}Search "{{ search }}"{% else %}my code wiki{% endif %}{% endblock %}

{% block content %}

    {% if tags %}
    {% for tag in tags %}
      <h3 class="blog-post-title">
        <a href="{{ url_for('tag', label=tag.label) }}">{{ tag.label }}</a>
      </h3>
    {% endfor %}

    {% include "includes/pagination.html" %}

    {% endif %}

{% endblock %}


{% block side_module %}
    <h4>Recent Posts</h4>

    <ol class="list-unstyled">
    {% for entry in object_list %}
      {% if search %}
        {% set entry = entry.entry %}
      {% endif %}
        <li><a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
          {{ entry.title }}
        </a></li>
        <p class="blog-post-meta">Created {{ entry.timestamp.strftime('%m/%d/%Y at %I:%M%p') }}</p>
        {% else %}
          <p>No entries have been created yet.</p>
        {% endfor %}
    </ol>

 {% endblock %}
